<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="net.minecraft,com.mojang,com.dummyc0m.pylon">
    <Appenders>
        <Pylon name="PylonOut">
            <PatternLayout pattern="pylon.log-[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </Pylon>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="PylonOut"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>